.navbar {
  width: 5rem; /* 80px */
  height: 100vh; /* Full viewport height */
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-3); 
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--mantine-color-body);
}

.navbarMain {
  flex: 1;
  margin-top: 3.125rem; /* 50px */
}

.link {
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-gray-7);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--mantine-color-gray-0);
  }

  &[data-active="true"] {
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);
  }
}
